// 字体
$sizes: 64, 48, 44, 40, 36, 32, 28, 26, 24, 20;
// 间距
$spaces: (0, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48);
// 圆角
$fillets: (
	s: $uni-border-radius-s,
	sm: $uni-border-radius-sm,
	base: $uni-border-radius-base,
	circle: $uni-border-radius-circle
);
// 字体颜色
$colors: (
	primary: $uni-color-primary,
	success: $uni-color-success,
	warning: $uni-color-warning,
	error: $uni-color-error,
	base: $uni-text-color,
	white: $uni-text-color-inverse,
	ccc: $uni-text-color-ccc,
	666: $uni-text-color-666,
	999: $uni-text-color-999,
	placeholder: $uni-text-color-placeholder,
	disable: $uni-text-color-disable,
	f1f1f1: $uni-text-color-f1f1f1
);
// 背景色
$backgrounds: (
	primary: $uni-color-primary,
	success: $uni-color-success,
	warning: $uni-color-warning,
	error: $uni-color-error,
	white: $uni-bg-color,
	grey: $uni-bg-color-grey,
	hover: $uni-bg-color-hover,
	mask: $uni-bg-color-mask
);
// 字体大小
@each $size in $sizes {
	.font-#{$size}r {
		font-size: $size + rpx;
	}
}

// 字体样式
.font {
	&-b {
		font-weight: bold;
	}
	
	&-a {
		&-c {
			text-align: center;
		}
		&-l {
			text-align: left;
		}
		&-r {
			text-align: right;
		}
	}
	
	&-overflow {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	&-line-clamp {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

// 间距
@each $space in $spaces {
	.mx-#{$space}r {
		margin-left: $space + rpx;
		margin-right: $space + rpx;
	}
	
	.my-#{$space}r {
		margin-top: $space + rpx;
		margin-bottom: $space + rpx;
	}
	
	.mt-#{$space}r {
		margin-top: $space + rpx;
	}
	
	.mb-#{$space}r {
		margin-bottom: $space + rpx;
	}
	
	.ml-#{$space}r {
		margin-left: $space + rpx;
	}
	
	.mr-#{$space}r {
		margin-right: $space + rpx;
	}
	
	.px-#{$space}r {
		padding-left: $space + rpx;
		padding-right: $space + rpx;
	}
	
	.py-#{$space}r {
		padding-top: $space + rpx;
		padding-bottom: $space + rpx;
	}
	
	.pt-#{$space}r {
		padding-top: $space + rpx;
	}
	
	.pb-#{$space}r {
		padding-bottom: $space + rpx;
	}
	
	.pl-#{$space}r {
		padding-left: $space + rpx;
	}
	
	.pr-#{$space}r {
		padding-right: $space + rpx;
	}
}
// 颜色
@each $key, $color in $colors {
	.color-#{$key} {
		color: $color;
	}
}
// 背景色
@each $key, $color in $backgrounds {
	.bg-color-#{$key} {
		background-color: $color;
	}
}
// 边框
.border {
	@each $key, $fillet in $fillets {
		&-radius {
			&-#{$key} {
				border-radius: $fillet;
			}
			&-t-#{$key} {
				border-top-left-radius: $fillet;
				border-top-right-radius: $fillet;
			}
			&-tl-#{$key} {
				border-top-left-radius: $fillet;
			}
			&-tr-#{$key} {
				border-top-right-radius: $fillet;
			}
			&-b-#{$key} {
				border-bottom-left-radius: $fillet;
				border-bottom-right-radius: $fillet;
			}
			&-bl-#{$key} {
				border-bottom-left-radius: $fillet;
			}
			&-br-#{$key} {
				border-bottom-right-radius: $fillet;
			}
		}
	}
	&-n {
		border: none;
	}
	&-t {
		border-top: 1rpx solid $uni-border-color;
	}
	&-b {
		border-bottom: 1rpx solid $uni-border-color;
	}
}
// flex
.flex {
	display: flex;
	&-w {
		flex-wrap: wrap;
		&-n {
			flex-wrap: nowrap;
		}
	}
	&-s {
		flex-shrink: 0;
	}
	&-d {
		flex-direction: row;
		&-c {
			flex-direction: column;
		}
		&-r {
			flex-direction: row-reverse;
		}
	}
	&-j {
		justify-content: stretch;
		&-s {
			justify-content: flex-start;
		}
		&-e {
			justify-content: flex-end;
		}
		&-c {
			justify-content: center;
		}
		&-b {
			justify-content: space-between;
		}
		&-a {
			justify-content: space-around;
		}
	}
	&-a {
		align-items: stretch;
		&-s {
			align-items: flex-start;
		}
		&-e {
			align-items: flex-end;
		}
		&-c {
			align-items: center;
		}
	}
	@for $i from 1 to 12 {
		&-#{$i} {
			flex: $i;
		}
	}
}
